extend default


block content
    link(rel='stylesheet', href='/css/blog_posts.css')

    .main-content

        h1.
            Topic 1
        P.
            topic 1

    .main-content

        h1.
            Topic 2
        P.
            topic 2

    .main-content

        h1.
            Topic 3
        P.
            topic 3

    .main-content

        h1.
            Topic 4
        P.
            topic 4

    .main-content

        h1.
            Topic 5
        P.
            topic 5

    .main-content

        h1.
            Topic 6
        P.
            topic 6
